<div class="body">
  <img
    src="https://img.freepik.com/fotos-premium/equipo-estudiantes-que-completan-tarea_23-2147666610.jpg"
    alt=""
    srcset=""
  />
  <app-title [title]="'Noticia ' + newsId"></app-title>
  <p class="date">Hermosillo, Sonora, 9 de diciembre de 2023.</p>
  <p>
    Por su productividad académica, el impulso al conocimiento de frontera en su
    área de especialidad, así como en la formación de recursos humanos en la
    docencia y la investigación, entre otras, la alma mater otorgó el Premio
    Universidad de Sonora a la Trayectoria y Mérito Académico a Jesús Leobardo
    Valenzuela García. La rectora María Rita Plancarte Martínez reconoció al
    académico homenajeado y dijo que su trayectoria de más de cuatro décadas, es
    una acumulación de sueños realizados durante el ejercicio de la docencia que
    surgen cada vez que entran al salón de clases o que se inicia un semestre.
    “Esta trayectoria está compuesta de eso, de sueños, de lo que querías cada
    vez, cada semestre, cada momento que fuiste logrando y que se van acumulando
    gracias al tesón que uno pone, a la cooperación de los compañeros, a la
    cooperación indudable de la familia y a pertenecer a una institución
    generosa como la Universidad de Sonora, generosa como el propio
    homenajeado”, expresó.
  </p>
</div>
