<section id="servicios">
    <div class="contenido">
        <h2>Servicios</h2>
      <div class="servicio-card">
        <img src="assets/instalar.jpg" alt="Servicio 1">
        <div class="nombre-servicio">
          <p>Instalar software</p>
        </div>
      </div>
      <div class="servicio-card">
        <img src="assets/instalar.jpg" alt="Servicio 2">
        <div class="nombre-servicio">
          <p>Proyectos</p>
        </div>
      </div>
      <div class="servicio-card">
        <img src="assets/instalar.jpg" alt="Servicio 3">
        <div class="nombre-servicio">
          <p>Servicio 3</p>
        </div>
      </div>
    </div>
  </section>
  
