<section id="presentacion" *ngFor="let club of clubes">
  <div class="contenido">
    <a>
      <div class="club-header">
        <div class="imagen">
          <img [src]="apiUrl + club.logo.sizes.tablet.url" alt="" />
        </div>
        <div class="texto">
          <h1>{{club.nombre}}</h1>
        </div>
      </div>
    </a>
  </div>
</section>


<section id="quienesSomos" *ngFor="let club of clubes">
  <h2>¿Quiénes Somos?</h2>
  <p>{{club.descripcion}}</p>
</section>

<section id="lideres" *ngFor="let club of clubes">
  <h2 class="lider-titulo">Líderes</h2>
  <div class="lider-cards">
    <div class="lider-card" *ngFor="let lider of club.lideres.split(',')">
      <div class="lider-info">
        <div class="imagen-lider">
          <img src="assets/foto.png" alt="Foto del líder">
        </div>
        <div class="lider-texto">
          <h3 class="lider-nombre">{{ club.profesor_encargado }}</h3>
          <p class="lider-tipo">Maestro Encargado</p>
        </div>
      </div>
    </div>
    <div class="lider-card" *ngFor="let lider of club.lideres.split(',')">
      <div class="lider-info">
        <div class="imagen-lider">
          <img src="assets/foto.png" alt="Foto del líder">
        </div>
        <div class="lider-texto">
          <h3 class="lider-nombre">{{ club.lideres }}</h3>
          <p class="lider-tipo">Líder Alumno</p>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Sección de Servicios -->
<section id="titulo" *ngFor="let club of clubes">
  <h2>Servicios</h2>
</section>
<section id="servicios" *ngFor="let club of clubes">
  <div class="servicios-container">
    <!-- Aquí se generan dinámicamente los servicios desde Angular -->
    <div *ngFor="let servicio of club.servicios" class="servicio-card">
      <div class="servicio-info">
        <h3 class="servicio-nombre">{{ servicio.nombre_servicio }}</h3>
        <p class="servicio-descripcion">{{ servicio.descripcion_servicio }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Redes Sociales -->
<section id="redsocial" *ngFor="let club of clubes">
  <div class="redes-sociales">
    <h2>Síguenos</h2>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/instagram.png" alt="Instagram" class="social-media-icon">
    </a>
    <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
      <img src="assets/facebook.png" alt="Twitter" class="social-media-icon">
    </a>
  </div>
  <div class="contacto-info">
    <h2 class="contact-info">Información de Contacto:</h2>
    <p class="contact-info">Email: info@example.com</p>
    <p class="contact-info">Teléfono: (123) 456-7890</p>
    <p class="ubicacion">{{ club.ubicacion }}</p>
  </div>
</section>