<div class="mx-4 divPrincipal">

    <!-- <app-title title="{{materia}}"></app-title> -->
    <app-title title="Nombre de la Materia"></app-title>
    
    <!-- Descripción -->
    <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim repellendus numquam, autem rem id rerum obcaecati repellat, iste nam at accusamus, beatae ex quas quasi quibusdam dolore ea accusantium ad.</p>

    <!-- Link al temario -->
    <p
    class="text-right underline underline-offset-4 text-unison-blue-light mt-2 font-semibold italic"
    >
    Link
    </p>

    <div class="mt-4 grid grid-rows-2 grid-cols-3">

        <!-- Semestre -->
        <p>Semestre</p>

        <!-- Créditos -->
        <p>Créditos</p>

        <!-- Seriada -->
        <p>Seriada</p>

        <!-- Horas -->
        <p>Horas</p>

        <!-- Eje -->
        <p class="col-span-2">Eje que abarca 2 columnas</p>

    </div>

    <div class="my-4">
        <!-- Requisitos -->
    <p>Requisitos</p>
    <ul class="list-disc ">
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
    </div>



    </div>

