<div class="mx-4  ">

    <app-title  title="Nombre de la Materia"></app-title>
    
    
    <!-- Descripción -->
    <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim repellendus numquam, autem rem id rerum obcaecati repellat, iste nam at accusamus, beatae ex quas quasi quibusdam dolore ea accusantium ad.</p>


    <!-- Link al temario -->
    <p
    class="text-right underline underline-offset-4 text-unison-blue-light mt-2 font-semibold italic"
    >
    Link
    </p>

    <div class="mt-4 ">

        <!-- Eje de orientación -->
        <p class="text-3xl "><span class="bg-green-600	">⠀⠀</span> Eje Básico</p>

   </div>

    <div class="mt-5 grid grid-rows-2 grid-cols-2">

        <!-- Semestre -->
        <p><span class="font-bold">Semestre</span> <br>IV</p>

        <!-- Seriada -->
        <p><span class="font-bold">Seriada</span> <br>Sí ✔ / No ❌</p>

        <!-- Créditos -->
        <p class="mt-4"><span class="font-bold">Créditos</span> <br>8</p>

        <!-- Horas -->
        <p class="mt-4"><span class="font-bold">Horas</span> <br>5</p>

    </div>


    <div class="my-4 ">

        <!-- Requisitos -->
    <p class="font-bold	">Requisitos para cursar esta materia:</p>
    <ul>
        <li>• Haber cursado XXXX previamente</li>
        <li>• Tener acreditado hasta el nivel 4 de Inglés</li>
        <li>• lorem ipsum monetar gleru manro trosma ...</li>
    </ul>
    </div>



    </div>

