<div class="footer">
  <div class="info">
    <div>
      <mat-icon>location_on</mat-icon>
      <a href="https://maps.app.goo.gl/zq7ETmXosQ7tJ6Nb7"
        >Avenida Universidad con Calle de la Sabiduría, Edificio 5J, Planta
        Baja. Hermosillo, Son.</a
      >
    </div>
    <div><mat-icon>call</mat-icon> <a href="">662-992-20-94</a></div>
    <div>
      <mat-icon>email</mat-icon> <a href="">departamentoisi@unison.mx</a>
    </div>
  </div>
  <div class="social">
    <p>Redes sociales</p>
    <div>
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
      <mat-icon>facebook</mat-icon>
    </div>
  </div>
</div>
