<mat-drawer-container>
  <!-- Contenido del drawer (barra lateral) -->
  <mat-drawer #drawer opened="true" position="end">
    <!-- Contenido de la barra lateral -->
    <div id="sidenav-head">
      <h1>UNISON</h1>
    </div>
    <mat-nav-list>
      <mat-list-item><mat-icon>home</mat-icon>Home</mat-list-item>
      <mat-list-item><mat-icon>newspaper</mat-icon>Noticias</mat-list-item>
      <mat-list-item><mat-icon>badge</mat-icon> Maestros</mat-list-item>
      <mat-list-item><mat-icon>book 2</mat-icon> Materias</mat-list-item>
      <mat-list-item><mat-icon>groups</mat-icon> Alumnos</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <!-- Contenido principal -->
  <mat-drawer-content>
    <mat-toolbar>
      <!-- Contenido de la barra de herramientas -->
      <div class="logos">
        <img
          src="../../../assets/logo-unison.png"
          alt="Logotipo de la Universidad de Sonora"
        />
        <div id="yellow-line"></div>
        <img
          src="../../../assets/logo-isi.png"
          alt="Logotipo de la carrera de Ingeniería en Sistemas de Información"
        />
      </div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="mat-icon-menu">menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Contenido principal de la página -->
  </mat-drawer-content>
</mat-drawer-container>
