header {
    background-color: var(--azul-principal);
    display: flex;
    width: 100vw;
    height: 10vh;
    justify-content: space-between;
  }
  
  .logos {
    display: flex;
    width: 40%;
    margin: 0 4%;
    align-items: center;
  
    gap: 7%;
  }
  .logos > img {
    height: 80%;
  }
  #yellow-line {
    border-left: 0.2rem solid var(--amarillo-principal);
    height: 80%;
  }
  
  .div-navbar {
    width: 20%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div-navbar > svg {
    fill: var(--amarillo-principal);
    height: 50%;
  }
  