<div class="body">
  <app-slider></app-slider>

  <app-title [title]="'Secciones'"></app-title>
  <div id="sections">
    <app-icon-menu [iconName]="'profesores'"></app-icon-menu>
    <app-icon-menu [iconName]="'alumnos'"></app-icon-menu>
    <app-icon-menu [iconName]="'historia'"></app-icon-menu>
    <app-icon-menu [iconName]="'preguntas'"></app-icon-menu>
  </div>
  <app-title [title]="'Clubes'"></app-title>
  <app-club-menu [clubName]="'CSTI'"></app-club-menu>
  <app-club-menu [clubName]="'CSI'"></app-club-menu>
</div>
