/* clubes.component.scss */

#quienes-somos {
    background: linear-gradient(45deg, #ffcc00, #ff9900); /* Degradado de amarillo a naranja */
    color: #ffffff; /* Letras blancas */
    text-align: center;
  
    .contenido {
      max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
      margin: 0 auto;
      padding: 50px 20px; /* Ajusta el espaciado según sea necesario */
  
      h2 {
        font-size: 2em; /* Tamaño de letra grande para el título */
        font-weight: bold; /* Texto en negritas */
      }
  
      .lorem-ipsum {
        font-size: 1.2em; /* Tamaño de letra para el texto de lorem ipsum */
        color: #000000; /* Letras negras */
      }
    }
  }
  