<section id="lideres">
    <div class="contenido">
      <h2>Líderes</h2>
      <div class="lider-card">
        <img src="assets/persona.jpg" alt="Foto Líder 1">
        <div class="informacion">
          <h3>Federico Cirett</h3>
          <p class="puesto">Encargado del club</p>
        </div>
      </div>
      <div class="lider-card">
        <img src="assets/persona.jpg" alt="Foto Líder 2">
        <div class="informacion">
          <h3>Saúl Fimbres</h3>
          <p class="puesto">Jefé</p>
        </div>
      </div>
    </div>
  </section>
  
