<div class="flex mt-4" *ngFor="let item of clubes">
  <img
    [src]="apiUrl + [item.logo.sizes.tablet.url]"
    alt=""
    class="w-40 h-40 mr-4"
    [routerLink]="['/clubes/' + item.nombre]"
  />
  <div>
    <p class="text-2xl font-semibold" [routerLink]="['/clubes/' + item.nombre]">
      {{ item.nombre | uppercase }}
    </p>
    <p class="text-base font-normal mt-2">{{ item.descripcion }}</p>
    <p
      [routerLink]="['/clubes/' + item.nombre]"
      class="underline underline-offset-4 text-unison-blue-light mt-2 font-semibold italic"
    >
      Conoce más
    </p>
  </div>
</div>
