<!-- Estatico -->
<!-- <div class="club-container">
  <img [src]="clubUrl" alt="" />
  <div class="club-text">
    <h1>{{ clubName }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam quidem
      voluptates accusantium, ad quae iste et possimus, atque fuga perferendis
      sit, mollitia ut harum dolorem maxime nemo facilis aperiam? Esse!
    </p>
  </div>
</div> -->

<!-- Dinamico -->
<!-- He envuelto el contenido del club en un enlace <a> que utiliza el routerLink
  para dirigir a la página del csti o csi como párametro en la URL-->
<!--<div class="club-container" *ngFor="let item of clubes">
  <a [routerLink]="['/clubes', item.nombre]">
    <img [src]="clubMap[item.nombre]" alt="" />
    <div class="club-text">
      <h1>{{item.nombre}}</h1>
      <p>{{ item.descripcion[0].children[0].text }}</p>
    </div>
  </a>
</div> -->

<section id="presentacion">
  <div class="contenido" *ngIf="club">
    <a>
      <div class="club-header">
        <div class="imagen">
          <img [src]="clubUrl" alt="Logo del Club" />
        </div>
        <div class="texto">
          <ng-container *ngIf="club.descripcion && club.descripcion[0] && club.descripcion[0].children && club.descripcion[0].children[0]">
            <h1>{{ club.nombre }}</h1>
            <p>{{ club.descripcion[0].children[0].text }}</p>
            <!-- Agrega aquí cualquier otra información específica del club -->
          </ng-container>
        </div>
      </div>
    </a>
  </div>
</section>
