<!-- Estatico -->
<!--
  <div class="club-container">
  <img [src]="clubUrl" alt="" />
  <div class="club-text">
    <h1>{{ clubName }}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam quidem
      voluptates accusantium, ad quae iste et possimus, atque fuga perferendis
      sit, mollitia ut harum dolorem maxime nemo facilis aperiam? Esse!
    </p>
  </div>
</div>
-->

<!-- Dinamico -->
<!-- He envuelto el contenido del club en un enlace <a> que utiliza el routerLink
  para dirigir a la página del csti o csi como párametro en la URL-->
<div class="club-container" *ngFor="let item of clubes">
    <img [src]="'http://localhost:3000'+[item?.logo?.sizes?.thumbnail?.url]" alt="" />
    <div class="club-text">
      <h1>{{item.nombre}}</h1>
      <h1>{{item.descripcion}}</h1>
      <!-- <p>{{ item.descripcion[0].children[0].text }}</p> -->
    </div>
</div>


