<div class="body">
  <app-slider></app-slider>
  <app-title [title]="'Apartados de interes'"></app-title>
  <div id="sections">
    <app-icon-menu [iconName]="'profesores'"></app-icon-menu>
    <app-icon-menu [iconName]="'alumnos'"></app-icon-menu>
    <app-icon-menu [iconName]="'historia'"></app-icon-menu>
    <app-icon-menu [iconName]="'preguntas'"></app-icon-menu>
  </div>
  <app-title [title]="'Nuestros clubes'" styles="margin-top:1rem;"></app-title>
  <app-club-menu></app-club-menu>
</div>
