.icon-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 30%;
  background: #ebebeb;
  box-shadow: 26px 26px 52px #c8c8c8, -26px -26px 52px #ffffff;
  // Effect generator -> https://neumorphism.io/#ebebeb

  height: 180px;
}
img {
  max-width: 5rem; /* Ajusta el tamaño de la imagen para que quepa en el contenedor */
  max-height: 5rem; /* Ajusta el tamaño de la imagen para que quepa en el contenedor */
}

h2 {
  color: black;
}
