/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --azul-principal: #004990;
    --amarillo-principal: #ffcc00;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  