.footer {
  padding: 0.5rem 1rem;
  display: flex;
  background-color: var(--amarillo-principal);
  a {
    font-size: 0.8rem;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .social {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
